/* Grundlegende Stile für den Hintergrund und die Schrift */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #242222; /* Hintergrundfarbe */
  color: #ffffff; /* Textfarbe */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Überschrift für die Hauptseite */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #36D1DD; /* Textfarbe für Überschriften */
  margin: 1.5rem 0;
  text-align: center;
}

/* Überschrift für die Task List */
h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #36D1DD;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Links und allgemeine Buttons */
button, a {
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container für die Task-Karten */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* Stil für einzelne Karten */
li {
  background-color: #36D1DD; /* Hintergrundfarbe der Karten */
  color: #242222;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Titel in der Task-Karte */
li h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Beschreibung und zusätzliche Informationen */
li p {
  margin: 0;
  font-size: 0.9rem;
}

.add-task-btn {
  background-color: #36D1DD; 
  color: #ffffff; 
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 7rem;
  margin: 0 auto;
}

.add-task-btn:hover {
  background-color: #2cb5c4; 
  color: #242222; 
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.card-buttons a {
  background-color: #242222;
  color: #36D1DD;
}

.card-buttons a:hover {
  background-color: #3c3c3c;
  color: #ffffff;
}

/* Delete-Button */
.card-buttons .delete {
  background-color: #ff4c4c;
  color: #ffffff;
  border: 2px solid #d12f2f;
}

.card-buttons .delete:hover {
  background-color: #d12f2f;
}

/* Complete-Button */
.card-buttons .complete {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #388e3c;
}

.card-buttons .complete:hover {
  background-color: #45a049;
}


.card-buttons .complete.completed {
  background-color: #388e3c; 
  cursor: pointer;
}

.card-buttons .complete.completed:hover {
  background-color: #2e7d32;
}

.opacity-30 {
  opacity: 0.3;
}